# extra
## dwm
/extra/dwm/statusbar/temp

## st
/extra/st/*.o
/extra/st/st

# home
## Neovim
/home/nvim/dot-config/nvim
/home/LazyVim

## Fish
/home/fish/dot-config/fish/fish_variables

## Tmux
/home/tmux/dot-config/tmux/*
!/home/tmux/dot-config/tmux/tmux.conf

## snipaste

/home/snipaste/dot-snipaste/*
!/home/snipaste/dot-snipaste/config.ini

## scr
/home/bin/scr/pwd

## bin
/home/bin/dot-local/bin/tmux-mem-cpu-load
