[Unit]
Description=Clean trash directory every month

[Service]
Type=oneshot
User=shan
ExecStart=/usr/local/bin/cleanup-old-files.sh
StandardOutput=append:/var/log/clean_old_files.log
StandardError=inherit
